.Field-editForm-data-wrap {
    display: flex;
    flex-direction: column;
}

.Field-editForm-flags-wrap {
    display: flex;
    flex-direction: column;
}

.Field-edit-input {
    width: 200px;
}

.Field_outer-wrap,
.Field_outer-wrap-loads {
    width: fit-content;
    height: fit-content;
    padding: 20px;
    margin: 5px;
    background-color: #ffffff;
    border: 1px solid #cecece;
    margin-top: 63px;
}

.Field_outer-wrap-loads {
    margin-top: 10px;
}

@media (max-width: 1000px) {

    .Field_outer-wrap,
    .Field_outer-wrap-loads {
        margin-top: 33px;
    }

}


.Field_JSON-pre {
    background-color: #ececec;
    padding: 10px;
    border-radius: 3px;
}

.Field_edit-label {
    color: #444444;
    font-size: 14px;
    align-self: center;
    font-weight: lighter;
    margin-right: 10px;
}



.Field_editForm-flags-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.Field_editForm-data-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.Field_edit-input {
    padding: 8px 6px !important;
    font-size: 12px;
    color: #444444;
    font-family: Arial, Tahoma, Helvetica, sans-serif;
    border: solid 1px #d5d5d5;
    outline: none;
    width: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.Field_edit-check {
    justify-self: start;
    margin-top: 5px;
    margin-bottom: 5px;
}

.Field_edit-select {
    justify-self: start;
    margin-top: 5px;
    margin-bottom: 5px
}

.Field_editForm-flags-subtitle,
.Field_editForm-data-subtitle {
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    border-bottom: 1px solid #c2c2c2;
    padding-bottom: 5px;
}

.Field_edit_save {
    height: 40px;
    font-size: 12px;
    padding: 15px;
    width: 285px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #525252;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    outline: none;
    margin-top: 20px;
    align-self: center;
    justify-self: center;
    margin-left: 67px;
}

.Field_edit_save:hover,
.Field_create-tab-option:hover {
    background-color: #696969;
}

.Field_display-button {
    height: 30px;
    font-size: 12px;
    padding: 15px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #525252;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    outline: none;
    margin-right: 10px;
}

.Field_button-wrap {
    display: flex;
    margin-bottom: 25px;
}

.Field_display-button:hover {
    background-color: #696969;
}

.Field_table-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.Field_table-label {
    font-weight: bold;
    color: #444444d3;
    font-size: 15px;
}

.Field_table-item {
    color: #444444;
    font-size: 15px;
}

.Field_table-title {
    margin-bottom: 20px;
    padding-bottom: 5px;
    font-size: 17px;
    font-weight: bold;
    border-bottom: 1px solid #c2c2c2;
}

.Field_table-wrap-wide {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.Field_table-margin-top {
    margin-top: 20px;
}

.Field_display-button-blue,
.Field_dupe-button-create {
    background-color: #4c91ca;
}

.Field_display-button-blue:hover,
.Field_dupe-button-create:hover {
    background-color: #73a3ca;
}

.Field_dupe-wrap {
    display: flex;
    flex-direction: column;
}

.Field_dupe-button-create {
    height: 30px;
    font-size: 12px;
    padding: 15px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    outline: none;
    margin-top: 20px;
}

.Field_dupe-label {
    font-size: 11px;
    font-family: Arial, Tahoma, Helvetica, sans-serif;
    color: #444444;
    font-weight: bold;
    margin-bottom: 4px;

}

.Field_dupe-field {
    padding: 8px 6px !important;
    font-size: 12px;
    color: #444444;
    font-family: Arial, Tahoma, Helvetica, sans-serif;
    border: solid 1px #d5d5d5;
    min-width: 300px;
    outline: none;

}

.Field_dupe-field:focus {
    border: solid 1px #afafaf;
}

.Field_dupe-error {
    font-size: 11px;
    font-family: Arial, Tahoma, Helvetica, sans-serif;
    color: #f05454;
    font-weight: bold;
    margin-top: 4px;
}

.Field_display-button-clicked-true {
    height: 35px;
    width: 85px;
}

.Field_create-subtitle {
    margin-top: 5px;
    margin-bottom: 0px;
    font-weight: bold;
    border-bottom: 1px solid #c2c2c2;
    padding-bottom: 7px;
    font-size: 18px;
}

.Field_create-tabs {
    display: flex;
    margin-bottom: 15px;
    font-size: 15px;
}

.Field_create-tab-option {
    height: 0px;
    width: 70px;
    margin-top: 10px;
    background-color: #525252;
}



.Field_create-tab-option-selected-true {
    height: 2px;
}

.Field_create-button {
    height: 40px;
    font-size: 12px;
    padding: 15px;
    width: 285px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #4c91ca;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    outline: none;
    margin-top: 20px;

}

.Field_create-button-wrap {
    display: flex;
}

.Field_dummy-button {
    height: 40px;
    font-size: 12px;
    padding: 15px;
    width: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #138d64;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    outline: none;
    margin-top: 20px;
    margin-left: 20px;
}

.Field_dummy-button:hover {
    background-color: #138d64d3;
}
