.Join_outer-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Join_Search-wrap {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.Join_Field-wrap {
    margin-right: 50px;
}

@media (max-width: 1000px) {
    .Join_outer-wrap {
        display: flex;
        flex-direction: column;
    }

    .Join_Field-wrap {
        margin-left: 24px;
    }
}
