.Loads_outer-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Loads_LoadSearch-wrap {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.Loads_LoadField-wrap {
    margin-right: 50px;
}

@media (max-width: 900px) {
    .Loads_outer-wrap {
        display: flex;
        flex-direction: column;
    }

    .Loads_LoadField-wrap {
        margin-left: 24px;
    }
}
