.LoadField-editForm-data-wrap {
    display: flex;
    flex-direction: column;
}

.LoadField-editForm-flags-wrap {
    display: flex;
    flex-direction: column;
}

.LoadField-edit-input {
    width: 200px;
}
