.Navbar_top {
    background: linear-gradient(to right, #26272F 0px, #646464 192px, #26272F 288px);
    width: 100%;
    height: 67px;
    display: flex;
}

.Navbar_top-left-image {
    height: 27px;
    width: 87px;
    cursor: pointer;
}

.Navbar_top-left {
    display: flex;
    padding-left: 40px;
    padding-top: 23px;
    width: 50%;
}

.Navbar_top-left-text {
    text-shadow: 0 -1px #193356;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    padding-top: 7px;
    padding-left: 10px;

}

.Navbar_top-right {
    width: 50%;
}

.Navbar_top-right-text {
    color: #FFFFFF;
    float: right;
    padding: 40px 40px 0 0;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
}

.Navbar_bottom {
    height: 38.6px;
    display: flex;
    padding-left: 40px;
    background-color: #555555;
    padding-bottom: 1px;
}

.Navbar_bottom-link {
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 -1px #26272F;
    padding: 11px 15px 2px 15px;
    font-size: 11px;
    border: 1px solid #555555;
    cursor: pointer;
    text-decoration: none;
}

.Navbar_bottom-link:hover {
    border: 1px solid #737681;
    background-color: #26272F;
}
