.PentaSearch_table-header,
.PentaSearch_table-entry {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-bottom: 1px solid #cecece;
    padding: 6px;
}

.PentaSearch_table-header {
    background-color: #d8d8d8;
}

.PentaSearch_table-header-val {
    color: #444444;
    font-size: 14px;
    font-weight: bold;
}

.PentaSearch_table-entry-val {
    color: #444444;
    font-size: 14px;
}

.PentaSearch_table-entry-last-true {
    border: none;
}

.PentaSearch_table-entry {
    cursor: pointer;
}

.PentaSearch_table-entry:hover {
    cursor: pointer;
    background-color: #f1f1f1;
}
